h1 {
    font-size: 80px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 60px;
    color: teal;
}

body {
    margin: 0 auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image :url("https://i.pinimg.com/originals/a3/83/9a/a3839a442559e20916db3423f22245d1.jpg");
}

header {
    background-color: white;
    padding: 40px;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main p {
    color: teal;
    padding-top: 60px;
}

p {
    font-size: 40px;
    color: goldenrod;
}

h3 {
    font-size: 60px;
    padding-bottom: 0px;
}

h4 {
    font-size: 55px;
    padding-top: 0px;
}

article p {
    padding: 15px 200px;
}

ul {
    list-style-type: none;
    font-size: 40px;
    color: goldenrod;
    padding-right: 20px;
}

#subheader {
    background-color: rgba(255, 255, 255, .7);
    padding: 0.02px;
}

img {
    padding: 70px 10px;
}

#columns {
    column-count: 2;
    column-rule-width: 1px;
}

footer {
    background-color: rgba(255, 255, 255, .2)
}