h1 {
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: red;
    padding: 100px;
}

body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

article p {
    padding: 25px 200px;
}

ul {
    list-style-type: none;
}